.row {
  color: #333;
  background: #FFF;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  line-height: 2.8;
}
.row:hover a {
  width: 40px;
  opacity: 1;
}
.row:nth-child(2n) {
  background: #f7f7f7;
}
.row:hover {
  background: #eee;
}
.done {
  text-decoration: line-through;
  color: #ccc;
}
.uiSortableHelper {
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2);
}
.remove, .completed {
  float: right;
  text-align: center;
  height: 40px;
  width: 0;
  background: #2ecc71;
  color: #FFF;
  opacity: 0;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.remove:hover, .completed:hover {
  background: #27ae60;
}
.remove {
  background: #e74c3c;
}
.remove:hover {
  background: #c0392b;
}